header {
    background-image: url('./GoldenGamesLOGO.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
}

header h2 {
    margin-top: 320px; /* Adjust this value as needed */
    text-align: center;
}

#info img {
    border-radius: 15px; /* Adjust the value for more or less rounding */
    max-height: 200px; /* Adjust the value as needed */
}
